        *,
         ::before,
         ::after {
            /* ht width will also include margin,border */
            box-sizing: border-box;
            font-size: 2vw;
            margin: 0;
            padding: 0;
        }
        
         :root {
            /* global scope of variable */
            /* we will be changing color dynamically through javascript */
            --hue: 200;
            --saturation: 50%;
            /* hsl-->hue ,saturation ,lightness */
            --foreground-color: hsl(var(--hue), var(--saturation), 75%);
            --background-color: hsl(var(--hue), var(--saturation), 20%);
            --clock-backkgound-url: url(./assets/images/afternoon.jpg);
            --night-backgroud-gradient: #52006A;
            --btnHt: 0.7rem;
            --btnWd: 1.4rem;
            font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
        }
        
        @font-face {
            font-family: digital-clock-font;
            src: url(digital-7.regular.ttf);
        }
        
        body {
            background: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        
        .main-container {
            width: 40vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: black;
            padding: 0.4rem;
            border-radius: 1rem;
        }
        
        .ringing-popup {
            display: none;
            position: absolute;
            top: 25%;
            left: 50%;
            width: 100%;
            height: 4rem;
            z-index: 1002;
            overflow: auto;
            transition: display 0.5s ease-in-out;
            color: white;
            transform: translateX(-50%);
        }
        
        .ringing-popup .ringing-msg {
            color: white;
        }
        
        .ringing-btns {
            padding: 0.2rem;
            width: 100%;
        }
        
        .btn {
            outline: none;
            -webkit-appearance: none;
            border: 0;
            width: 2rem;
            height: 1.5rem;
            border-radius: 10%;
            box-shadow: 0px 0px 33px -6px rgba(0, 0, 0, 0.75);
            text-align: center;
            font-size: 0.6rem;
            margin: 0;
            padding: 0;
            color: black;
        }
        
        .btn:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        
        .overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=80);
        }
        
        .digital-clock-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        .current-day-time-symbol {
            /* background-image: url('./assets/images/sunrise-symbol.png'); */
            height: 3rem;
            width: 3rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
        }
        
        .current-time-container {
            width: 90%;
        }
        
        .current-date {
            color: white;
        }
        
        .current-time {
            /* fixing the div width so that changing time
            does not affect the layout */
            width: 3rem;
        }
        
        #digital-clock {
            /* padding: 1em; */
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-position: 100%;
            /* Center the image */
            background-repeat: no-repeat;
            /* Do not repeat the image */
            background-size: 100%;
            /* Resize the background image to cover the entire container */
            padding: 0.8rem;
        }
        
        #digital-clock div {
            opacity: 1 !important;
            font-size: 2rem;
            font-family: digital-clock-font;
        }
        
        .alarm-set-container {
            width: 100%;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            flex-direction: column;
            margin-top: 2.2rem;
        }
        
        .alarm-time {
            /* outline removes the border when focused */
            outline: none;
            -webkit-appearance: none;
            border: 0;
            width: 2rem;
            height: 2rem;
            border-radius: 10%;
            box-shadow: 0px 0px 33px -6px rgba(0, 0, 0, 0.75);
            text-align: center;
            font-size: 1rem;
            margin: 0;
            padding: 0;
        }
        
        #alarm-set-input-container {
            display: flex;
        }
        
        #alarm-set-input-container>* {
            margin: 0.1rem;
        }
        
        .set-alarm-time-button {
            font-size: 0.5rem;
        }
        
        .set-alarm-time-button:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        
        .alarm-time-dropdown-container {
            position: relative;
            cursor: pointer;
        }
        
        .alarm-time-dropdown-container .alarm-time-text-area {
            /* position: absolute; */
            cursor: pointer;
        }
        
        .alarm-time-dropdown-container .alarm-time-text-area:hover {
            /* position: absolute; */
            cursor: pointer;
            transform: scale(1.1);
        }
        
        .alarm-time-option-container {
            position: absolute;
            height: 6rem;
            overflow: scroll;
            -ms-overflow-style: none;
            /* Internet Explorer 10+ */
            scrollbar-width: none;
            /* Firefox */
            top: -2.2rem;
            display: none;
            width: auto;
            border-radius: 5%;
        }
        
        .alarm-time-option-container div {
            position: relative;
            background: white;
            cursor: pointer;
            margin-top: 0.1rem;
            transition: all 0.05s ease-in-out;
        }
        
        .alarm-time-option-container div:hover {
            /* position: absolute; */
            z-index: 1000;
            transform: translateZ(2rem)
            /* border-radius: 0.2rem; */
        }
        
        .alarm-time-option-container::-webkit-scrollbar {
            display: none;
            /* Safari and Chrome */
        }
        
        .time-difference-message {
            height: 1.5rem;
            color: aliceblue;
        }
        
        .toggle-alarm-time-display {
            display: block;
        }
        
        .hide-alarm-textArea-display {
            opacity: 0;
        }
        /* alarm-list styles */
        
        .alarm-list-container {
            height: 100%;
            width: 90%;
            margin-top: 0.2rem;
            overflow: scroll;
            -ms-overflow-style: none;
            /* Internet Explorer 10+ */
            scrollbar-width: none;
            padding: 0.1rem;
        }
        
        .alarm-list-container::-webkit-scrollbar {
            display: none;
            /* Safari and Chrome */
        }
        
        .common-alarm-list-container {
            /* background-color: #8f3c55; */
        }
        
        .alarm-list {
            background-color: rgba(42, 39, 42, 1);
            width: 100%;
            border-radius: 1rem;
            margin-top: 0.2rem;
            height: 3rem;
            padding: 0.1rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-left: 0.15rem;
            padding-right: 0.15rem;
        }
        
        .alarm-list>div {
            margin: 0.1rem;
            color: white;
        }
        
        .alarm-list-symbol img {
            margin-top: 12.5%;
        }
        
        .alarm-list-symbol {
            height: 2rem;
            width: 2rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
        }
        
        .alarm-list-time-difference-message {
            color: rgba(247, 242, 242, 0.75);
            font-size: 0.75rem;
        }
        /* buttons in alarm list */
        
        .toggle-button {
            position: relative;
            width: var(--btnWd);
            height: var(--btnHt);
            border-radius: 1rem;
            cursor: pointer;
            border: none;
        }
        
        .circle {
            position: absolute;
            background-color: white;
            width: var(--btnHt);
            height: var(--btnHt);
            border-radius: 50%;
            right: 5%;
            transition-duration: 0.5s;
            border: none;
        }
        
        .alarm-list-btn>button {
            background-color: transparent;
            margin-bottom: 0.2rem;
            width: var(--btnWd);
            height: var(--btnHt);
            border-radius: 2rem;
            cursor: pointer;
            /* outline removes the border when focused */
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            color: white;
            transition: all 0.1s ease-in-out;
            ;
        }
        
        .alarm-list-btn>button:hover {
            transform: scale(1.2);
            color: #f01c1cf1;
        }
        
        .text-center {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            letter-spacing: 0.05rem;
            /* line-height: 1.5rem; */
        }