        *,
         ::before,
         ::after {
            /* ht width will also include margin,border */
            box-sizing: border-box;
            font-size: 2vw;
            margin: 0;
            padding: 0;
        }
        
         :root {
            /* global scope of variable */
            /* we will be changing color dynamically through javascript */
            --hue: 200;
            --saturation: 50%;
            /* hsl-->hue ,saturation ,lightness */
            --foreground-color: hsl(var(--hue), var(--saturation), 75%);
            --background-color: hsl(var(--hue), var(--saturation), 20%);
            --clock-backkgound-url: url(./assets/images/afternoon.jpg);
            --night-backgroud-gradient: #52006A;
            --btnHt: 0.7rem;
            --btnWd: 1.4rem;
            font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
        }
        
        @font-face {
            font-family: digital-clock-font;
            src: url(digital-7.regular.ttf);
        }
        
        body {
            background: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            /* padding: 1rem; */
        }
        
        .main-container {
            width: 40vw;
            height: 100vh;
            /* margin: ; */
            display: flex;
            /*  */
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* background-image: linear-gradient(to bottom, #120216, #130217, #150218, #160119, #17011a); */
            background: black;
            padding: 0.4rem;
            border-radius: 1rem;
        }
        
        #digital-clock {
            /* padding: 1em; */
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            color: #fff;
            /* font-size: 4rem; */
            /* background-image: var(--clock-backkgound-url); */
            background-position: 100%;
            /* Center the image */
            background-repeat: no-repeat;
            /* Do not repeat the image */
            background-size: 100%;
            /* Resize the background image to cover the entire container */
            ;
            /* opacity: 0.7; */
            /* height: 10rem; */
            width: 100%;
        }
        
        #digital-clock div {
            opacity: 1 !important;
            font-size: 2rem;
            font-family: digital-clock-font;
        }
        
        .alarm-set-container {
            width: 100%;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            flex-direction: column;
            margin-top: 2.2rem;
        }
        
        .alarm-time {
            /* outline removes the border when focused */
            /* display: inline-block; */
            outline: none;
            -webkit-appearance: none;
            border: 0;
            width: 2rem;
            height: 2rem;
            border-radius: 10%;
            box-shadow: 0px 0px 33px -6px rgba(0, 0, 0, 0.75);
            text-align: center;
            font-size: 1rem;
            margin: 0;
            padding: 0;
        }
        
        #alarm-set-input-container {
            display: flex;
        }
        
        #alarm-set-input-container>* {
            margin: 0.1rem;
        }
        
        .set-alarm-time-button {
            font-size: 0.5rem;
        }
        
        .set-alarm-time-button:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        
        .alarm-time-dropdown-container {
            position: relative;
            cursor: pointer;
        }
        
        .alarm-time-dropdown-container .alarm-time-text-area {
            /* position: absolute; */
            cursor: pointer;
        }
        
        .alarm-time-dropdown-container .alarm-time-text-area:hover {
            /* position: absolute; */
            cursor: pointer;
            transform: scale(1.1);
        }
        
        .alarm-time-option-container {
            position: absolute;
            /* flex */
            /* display: flex;
            flex-direction: column; */
            /* flex */
            height: 6rem;
            overflow: scroll;
            -ms-overflow-style: none;
            /* Internet Explorer 10+ */
            scrollbar-width: none;
            /* Firefox */
            top: -2.2rem;
            display: none;
            width: auto;
            border-radius: 5%;
            /* border: 2px solid red; */
            /* 
            box-shadow: 0px 0px 33px -6px rgba(0, 0, 0, 0.75); */
        }
        
        .alarm-time-option-container div {
            position: relative;
            /* padding: 0.1rem; */
            background: white;
            /* margin: 0.1rem 0; */
            cursor: pointer;
            margin-top: 0.1rem;
            transition: all 0.05s ease-in-out;
        }
        
        .alarm-time-option-container div:hover {
            /* position: absolute; */
            z-index: 1000;
            transform: translateZ(2rem)
            /* border-radius: 0.2rem; */
        }
        
        .alarm-time-option-container::-webkit-scrollbar {
            display: none;
            /* Safari and Chrome */
        }
        
        .time-difference-message {
            height: 1.5rem;
            color: aliceblue;
        }
        
        .toggle-alarm-time-display {
            display: block;
        }
        
        .hide-alarm-textArea-display {
            opacity: 0;
        }
        /* alarm-list styles */
        
        .alarm-list-container {
            /* display: flex;
            align-items: center;
            flex-direction: column; */
            height: 100%;
            width: 90%;
            margin-top: 0.2rem;
            overflow: scroll;
            -ms-overflow-style: none;
            /* Internet Explorer 10+ */
            scrollbar-width: none;
            padding: 0.1rem;
        }
        
        .alarm-list-container::-webkit-scrollbar {
            display: none;
            /* Safari and Chrome */
        }
        
        .common-alarm-list-container {
            /* background-color: #8f3c55; */
        }
        
        .alarm-list {
            background-color: #2A272A;
            width: 100%;
            border-radius: 1rem;
            margin-top: 0.2rem;
            height: 3rem;
            padding: 0.1rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-left: 0.15rem;
            padding-right: 0.15rem;
        }
        
        .alarm-list>div {
            margin: 0.1rem;
            color: white;
        }
        
        .alarm-list-symbol img {
            margin-top: 12.5%;
        }
        
        .alarm-list-symbol {
            height: 2rem;
            width: 2rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
        
        .alarm-list-time-difference-message {
            color: rgba(247, 242, 242, 0.75);
            font-size: 0.75rem;
        }
        /* buttons in alarm list */
        
        .toggle-button {
            position: relative;
            background-color: rgb(24, 159, 221);
            width: var(--btnWd);
            height: var(--btnHt);
            border-radius: 1rem;
            cursor: pointer;
            border: none;
        }
        
        .circle {
            position: absolute;
            background-color: white;
            width: var(--btnHt);
            height: var(--btnHt);
            border-radius: 50%;
            right: 0;
            transition-duration: 0.5s;
            border: none;
        }
        
        .alarm-list-btn>button {
            background-color: transparent;
            margin-bottom: 0.2rem;
            width: var(--btnWd);
            height: var(--btnHt);
            border-radius: 2rem;
            cursor: pointer;
            /* outline removes the border when focused */
            /* display: inline-block; */
            /* background: none;
            color: inherit; */
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            color: white;
            transition: all 0.1s ease-in-out;
            ;
        }
        
        .alarm-list-btn>button:hover {
            transform: scale(1.2);
            color: #f01c1cf1;
        }
        
        .text-center {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            letter-spacing: 0.05rem;
            /* line-height: 1.5rem; */
        }
        
        @media only screen and (max-width: 600px) {
            *,
             ::before,
             ::after {
                font-size: 6vw;
            }
            .main-container {
                width: 100vw;
            }
        }
        /* for tablets */
        
        @media only screen and (min-width: 600px) and (max-width: 992px) {
            *,
             ::before,
             ::after {
                font-size: 4vw;
            }
            .main-container {
                width: 95vw;
            }
        }
        /* for laptops */
        
        @media only screen and (min-width: 992px) {
            *,
             ::before,
             ::after {
                font-size: 2vw;
            }
        }
        
        @media only screen and (max-height: 700px) {
            *,
             ::before,
             ::after {
                font-size: 3.5vh;
            }
            .alarm-list-container {
                width: 95%;
            }
        }
        
        @media only screen and (min-height: 700px) {
            *,
             ::before,
             ::after {
                font-size: 4vh;
            }
            .alarm-list-container {
                width: 100%;
            }
        }
        
        @media only screen and (max-width: 992px) and (max-height: 600px) {
            /* tablets */
            *,
             ::before,
             ::after {
                font-size: 3vw;
            }
            .alarm-list-container {
                width: 70%;
            }
        }
        
        @media only screen and (max-width: 992px) and (min-height: 992px) {
            /* big phone */
            *,
             ::before,
             ::after {
                font-size: 4vh;
            }
            .alarm-list-container {
                width: 100%;
            }
        }